@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

#root {
  /* body { */
  width: 79mm;
  height: 79mm;
}

.in {
  width: calc(79mm - 8px);
  height: calc(79mm - 8px);
}

#logo {
  height: 100%;
  width: 64px;
}

#top {
  height: 116px;
}

/* 1 */
#top #product_name_container {
  max-height: 54px;
  margin-bottom: 4px;
  max-width: calc(79mm - 180px);
  /* background-color: red; */
}

#top #product_name_container span {
  font-size: 10px;
}

/* 2 */
#top #special_instruction_container {
  height: 21px;
  margin-bottom: 4px;
}

#top #special_instruction_container.special_instruction_container_long {
  max-width: calc(79mm - 90px);
}

/* 3 */
#top #ingredients_container {
  max-width: calc(79mm - 50px);

  max-height: 111px;
  margin-bottom: 4px;
}

#top #special_instruction_container p.microwave_text {
  margin-top: 2px;
}

#top #special_instruction_container p > img.short_instructions_text {
  margin-right: 4px;
}

#top #special_instruction_container p > img.long_instructions_text {
  margin-right: -3px;
}

#top #heating_instruction_container img {
  margin-right: 2px;
  width: 10px;
  height: 10px;
}

#top #ingredients_container #legalName {
  margin-left: 10px;
}

#bottom {
  width: 294px;
  height: 102px;

  bottom: 12px;
}

#bottom-left {
  /* width: 119px; */
  max-width: 119px;
  height: 88px;
}

#bottom-center {
  width: 67.69px;
  height: 102.5px;

  /* x spacing */
  margin-left: 7px;
  margin-right: 7px;
}

#bottom-right {
  width: 94px;
}

#bottom #bottom-left #nutrition_information_container {
  height: 35px;
  font-size: 5px;
  line-height: 7px;
}

#bottom #bottom-left #kitchen_area_container {
  width: 100px;
  height: 49px;
  margin-top: 4px;
}

#bottom #bottom-left #kitchen_area_container p {
  line-height: 7px;
}

#bottom #bottom-center #nutriscore_image {
  width: 100%;
  height: 100%;
}

#bottom #bottom-center #nutriscore_container {
  width: 64px;
  height: 36px;
}

#bottom #bottom-center #ecoscore_container {
  margin-top: 4px;
  width: 66px;
  height: 32px;
}

#bottom #bottom-center #codeBio p {
  height: 5px;
  font-size: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#bottom #bottom-center #unique-code_container {
  height: 26px;
  font-size: 18px;
  line-height: 26px;
}

#bottom #bottom-right #netweight_container {
  height: 17px;
}

#bottom #bottom-right .bottom_right_containers {
  margin-bottom: 4px;
}

#bottom #bottom-right #dlc_container {
  height: 18px;
}

#bottom #bottom-right #address_container {
  width: 100px;
  height: 14px;
}

#bottom #bottom-right #agreement_container {
  width: 32px;
  height: 20px;
}
