@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

#root {
  /* body { */
  width: 90mm;
  height: 90mm;
  /* font: 1em "Kostic-Grotesk-Regular"; */
  color: #3c3c3c;
  letter-spacing: normal;
}

.in {
  width: calc(90mm - 24px);
  height: calc(90mm - 24px);
  /* background-color: red; */
  border-radius: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

article strong {
  color: #000;
  font-family: "Kostic-Roc-Grotesk-Bold";
}

#logo_container {
  text-align: center;
  /* margin-top: calc(15px - 12px); */
  /* background-color: green; */
}

#logo {
  height: 100%;
  width: 64px;
  /* background-color: green; */
}

#top {
  /* width: 305px; */
  height: 198px;
  /* background-color: pink; */

  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  display: flex;
  align-items: center;
}

/* 1 */
#top #product_name_container {
  font-family: "Globe-Gothic-Bold";
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  color: #000000;
  max-height: 54px;
  /* background-color: slateblue; */
  margin-bottom: 4px;
  max-width: calc(90mm - 180px);
  text-align: center;

  display: flex;
  flex-direction: column;
}

/* 2 */
#top #special_instruction_container {
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #000000;
  /* background-color: aquamarine; */
  height: 21px;
  margin-bottom: 4px;

  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

/* 3 */
#top #ingredients_container {
  max-width: calc(90mm - 28px);
  text-align: center;
  font-family: "Kostic-Grotesk-Regular";
  /* width: 305px; */
  max-height: 111px;
  /* background-color: slategrey; */
  overflow: hidden;
  margin-bottom: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#top .splitter {
  flex: 1;
}
#top #special_instruction_container p {
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

#top #special_instruction_container p.microwave_text {
  display: flex;
  align-items: flex-end;
  margin-top: 2px;
}

#top #special_instruction_container p > img {
  margin-right: 4px;
}

#top #heating_instruction_container p {
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  margin: 0;

  display: flex;
  align-items: center;
  text-align: center;
}

#top #heating_instruction_container img {
  margin-right: 2px;
  width: 10px;
  height: 10px;
}

#top #ingredients_container #allergens_text {
  font-weight: 700;
}

#bottom {
  width: 294px;
  height: 102px;
  /* background-color: pink; */
  font-family: "Kostic-Grotesk-Regular";

  display: flex;
  justify-content: space-between;
}

#bottom-left {
  width: 119px;
  height: 88px;
  /* background-color: burlywood; */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#bottom-center {
  width: 67.69px;
  height: 102.5px;
  /* background-color: coral; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-right {
  width: 94px;
  /* background-color: cyan; */
}

#top_part_container {
  display: flex;
  flex-direction: column;
}

#bottom #bottom-left #nutrition_information_container {
  height: 35px;
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-size: 5px;
  line-height: 7px;
  text-align: right;
  color: #000000;
  /* background-color: #fff; */
  margin-top: 8px;
}

#bottom #bottom-left #nutrition_information_container p {
  padding: 0;
  margin: 0;
}

#bottom #bottom-left #kitchen_area_container {
  width: 100px;
  height: 49px;
  text-align: right;
  margin-top: 4px;
}

#bottom #bottom-left #kitchen_area_container p {
  line-height: 7px;
  padding: 0;
  margin: 0;
}

#bottom #bottom-center #nutriscore_image {
  width: 100%;
  height: 100%;
}

#bottom #bottom-center #nutriscore_container {
  width: 64px;
  height: 36px;
  margin-top: 4px;
}

#bottom #bottom-center #ecoscore_container {
  margin-top: 4px;
  width: 66px;
  height: 32px;
}

#bottom #bottom-center #ecoscore_container img {
  width: 100%;
  height: 100%;
}

#bottom #bottom-center #codeBio p {
  width: 24px;
  height: 5px;
  font-size: 5px;
  line-height: 1;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

#bottom #bottom-center #unique-code_container {
  /* margin-top: 4px; */
  width: 35px;
  height: 26px;
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

#bottom #bottom-right #netweight_container {
  margin-top: 8px;
  height: 17px;
  width: 76px;
}

#bottom #bottom-right .bottom_right_containers {
  margin-bottom: 4px;
}

#bottom #bottom-right #dlc_container {
  height: 18px;
}

#bottom #bottom-right #address_container {
  width: 100px;
  height: 14px;
  /* background-color: #fff; */
}

#bottom #bottom-right #agreement_container {
  width: 32px;
  height: 20px;
}

.product_label {
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 7px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.product_value {
  font-family: "Kostic-Grotesk-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
}
