@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

#root {
  /* body { */
  width: 90mm;
  height: 90mm;
  font: 1em "Sailec-Regular";
  color: #3c3c3c;
  letter-spacing: normal;
}

.in {
  /* width: 328px;
  height: 328px; */
  width: calc(90mm - 12px);
  height: calc(90mm - 12px);
  background-color: red;
  /* align-self: stretch; */
  /* flex: 1; */
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#logo_container {
  text-align: center;
  /* margin: auto; */
  /* width: 64px;
  height: 10px; */
  margin-top: calc(15px - 12px);
  /* height: 10px; */
  background-color: green;
  /* flex: 1; */
  /* align-self: stretch; */
}

#logo {
  height: 100%;
  width: 64px;
  /* width: 100%; */
}

#middle {
  /* width: 305px; */
  height: 198px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom {
  width: 294px;
  height: 102px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

#middle #product_name_container {
  font-family: "LTC Globe Gothic";
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  height: 54px;
  background-color: slateblue;
  margin-bottom: 4px;
}

#middle #special_instruction_container {
  font-family: "Roc Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #000000;
  background-color: aquamarine;
  height: 21px;
  margin-bottom: 4px;
}

#middle #special_instruction_container p {
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

#middle #special_instruction_container p img {
  margin-right: 4px;
  vertical-align: bottom;
}

#middle #heating_instruction_container p {
  font-family: "Roc Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

#middle #heating_instruction_container img {
  margin-right: 2px;
  width: 10px;
  height: 10px;
}

#middle #ingredients_container {
  text-align: center;
  font-family: "Roc Grotesk";
  /* width: 305px; */
  height: 111px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 40px;
  padding-right: 40px; */
  background-color: slategrey;
  margin-bottom: 4px;
}

#bottom-left {
  width: 110px;
  height: 88px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#bottom-center {
  width: 67.69px;
  height: 102.5px;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-right {
  width: 100px;
  height: 80px;
  background-color: cyan;
}

#top_part_container {
  /* padding-top: 3mm; */
  /* height: 45mm; */
  display: flex;
  flex-direction: column;
}

#bottom #bottom-left #nutrition_information_container {
  /* width: 110px; */
  height: 35px;

  font-family: "Roc Grotesk";
  font-style: normal;
  font-size: 5px;
  line-height: 7px;
  text-align: right;
  color: #000000;
  background-color: #fff;
  margin-top: 8px;
}

#bottom #bottom-left #nutrition_information_container strong {
  font-weight: 700;
}

#bottom #bottom-left #nutrition_information_container p {
  padding: 0;
  margin: 0;
}

#bottom #bottom-center #nutriscore_container {
  width: 64px;
  height: 36px;
  margin-top: 4px;
}

#bottom #bottom-center #ecoscore_container {
  margin-top: 4px;
  width: 66px;
  height: 32px;
}

#bottom #bottom-center #ecoscore_container img {
  width: 100%;
  height: 100%;
}

#bottom #bottom-center #unique-code_container {
  margin-top: 4px;

  width: 35px;
  height: 26px;

  font-family: "Roc Grotesk Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

#bottom #bottom-left #kitchen_area_container {
  width: 100px;
  height: 49px;
  text-align: right;
  margin-top: 4px;
  /* background: red; */
}

#bottom #bottom-left #kitchen_area_container p {
  line-height: 7px;
  padding: 0;
  margin: 0;
}

#bottom #bottom-right #netweight_container {
  margin-top: 8px;
}

#bottom #bottom-right .bottom_right_containers {
  margin-bottom: 4px;
}

#bottom #bottom-right #netweight_container #netweight_value {
  width: 76px;
  height: 17px;
}

.product_label {
  font-family: "Roc Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 7px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.product_value {
  font-family: "Roc Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
}

#agreement_container {
  width: 32.54px;
  height: 20px;
}

#address_container {
  width: 70px;
  background-color: #fff;
}

#nutriscore_image {
  width: 100%;
  height: 100%;
}

#allergens_text {
  font-weight: 700;
}
