@font-face {
  font-family: "Kostic-Grotesk-Regular";
  src: url("../../fonts/Kostic-Grotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Regular";
  src: url("../../fonts/Kostic-Roc-Grotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Medium";
  src: url("../../fonts/Kostic-Roc-Grotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Bold";
  src: url("../../fonts/Kostic-Roc-Grotesk-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Light";
  src: url("../../fonts/Kostic-Roc-Grotesk-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Medium";
  src: url("../../fonts/Kostic-Roc-Grotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kostic-Roc-Grotesk-Thin";
  src: url("../../fonts/Kostic-Roc-Grotesk-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Globe-Gothic-Bold";
  src: url("../../fonts/Lanston-Type-Company-LTCGlobeGothic-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Light.otf");
  font-weight: normal;
  font-style: normal;
}
